# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/*
/01.multithreading/.vs/MultiThreading/FileContentIndex
/01.multithreading/.vs/MultiThreading/v17/TestStore/0
/.vs
/AsyncAwait.Tasks/AsyncAwait.Tasks/.vs/AsyncAwait.Tasks/FileContentIndex
/AsyncAwait.Tasks/AsyncAwait.Tasks/.vs/AsyncAwait.Tasks/v17
/AsyncAwait.Tasks/AsyncAwait.Tasks/.vs/AsyncAwait.Tasks/DesignTimeBuild/.dtbcache.v2
/ Message Queues/.vs
/ Message Queues/Message Queues/.vs/Message Queues
